.nav-bar {
  background-color: #222;
  height: 60px;
  padding: 0px;
  margin: 0;
}

.logo {
  margin-top: 5px;
  margin-left: 20%;
}

.nav-list-item {
  color: black;
  float: right;
  margin-right: 20%;
}
